@{
}
<form name="addUserForm" method="post" asp-controller="User" asp-action="Add">
    <p>Username: </p><input name="username" type="text" />
    <p>Email: </p><input name="email" type="text" />
    <p>Password: </p><input name="password" type="password"/>
    <p>Verify password: </p><input name="verify" type="password"/>
    <input type="submit"/>
</form>